/* * {
    box-sizing: border-box;
}

main {
    display: flex;
}

main > section {
    flex-grow: 1;
    min-height: 150vh;
    padding-left: calc(174.68px + 1rem);
    > #date {
        text-align: right;
        font-weight: bold;
    }
}

main > aside {
    position: fixed;
    background-color: red;
    padding: 1rem;
    min-height: 100vh;
} */

:root:has(.dark) {
    /* Backgrounds */
    --bg-deep: #000000;
    --bg-charcoal: #111111;
    --bg-darkgray: #1f1f1f;

    /* Accents */
    --accent-emerald: #00c853;
    --accent-lime: #76ff03;
    --accent-softgray: #9e9e9e;
    
    /* Highlights */
    --income: #09cf6e;
    --expense: #c60f32;

    /* Text */
    --text-primary: #ffffff;
    --text-secondary: #9e9e9e;
}

:root {
    /* Backgrounds */
    --bg-white: #ffffff;
    --bg-lightgray: #f5f5f5;
    --bg-softgray: #e0e0e0;
    
    /* Accents */
    --accent-emerald: #2e7d32;
    --accent-brightgreen: #43a047;
    --accent-darkgray: #424242;
    --accent-lime: #59c103;
    
    /* Highlights */
    --income: #4caf50;
    --expense: #e53935;

    /* Text */
    --text-primary: #212121;
    --text-secondary: #424242;
}

.type {
    text-transform: capitalize;
}